.form {
  display: flex;
  flex-direction: row;
  border-top: 2px solid #d3d3d3;
}

.input {
  border: none;
  border-radius: 0;
  padding: 5%;
  flex: 0.8;
  font-size: 1.2em;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  border-radius: 5px;
  font-weight: bold;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  border: none;
  flex: 0.2;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .form {
    flex-direction: column;
  }
}
