.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 8px;
  height: 80%;
  width: 50%;
}

.activeItem {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 480px) {
  .container {
    width: 100vw;
    height: 80vh;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 60%;
  }
}
